// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #0f766e;
	--ion-color-primary-rgb: 15, 118, 110;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #0d685f;
	--ion-color-primary-tint: #27847d;

	--ion-color-medium: #374151;
	--ion-color-medium-rgb: 55, 65, 81;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #303948;
	--ion-color-medium-tint: #4b5462;

	--ion-color-danger: #b91c1c;
	--ion-color-danger-rgb: 185, 28, 28;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #a31919;
	--ion-color-danger-tint: #c03030;

	--ion-color-light: #f3f4f6;
	--ion-color-light-rgb: 243, 244, 246;
	--ion-color-light-contrast: #111827;
	--ion-color-light-contrast-rgb: 17, 24, 39;
	--ion-color-light-shade: #d6d7d8;
	--ion-color-light-tint: #f4f5f7;
}
