.page-content {
	--padding-start: 12px;
	--padding-end: 12px;
	--padding-top: 10px;
	--padding-bottom: 20px;
}

.action-row {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 12px;
}
